<div class="container-fluid">
  <div class="row">
<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>
  <% @listings.each do |listing| %>
    <div class="col-md-3">

      <div class="thumbnail">
        <%= image_tag listing.image.url %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p> <%= number_to_currency(listing.price) %></p>
          <%= listing.description %>
          <%= link_to 'Show', listing %>
          <%= link_to 'Edit', edit_listing_path(listing) %>
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>

</div>



<br>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>

</div>