<div class="container">
  <div class="row">
  <div class="col-md-2 col-sm-6 col-xs-12">
    <h4>Image</h4>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h4>Name</h4>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h4>Description</h4>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-12">
    <h4>Price</h4>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-12">
    <h4>Action</h4>
  </div>
</div>

<% @listings.each do |listing| %>
<div class="row">
  
  <div class="col-md-2 col-sm-6 col-xs-12">
    <%= image_tag listing.image.url, class: "img-responsive box-img-size" %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3><%= listing.name %></h3>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <p><%= listing.description %></p>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-12">
    <p> <%= number_to_currency(listing.price) %></p>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "View",  listing%></li>
        <li><%= link_to "Edit", edit_listing_path(listing)%></li>
        <li><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
</div>
<% end %>
</div>