<div class="container">
	<div class="row">
		<div class="col-md-6">
			<%= image_tag @listing.image.url, class: 'img-responsive' %>	
		</div>
		<div class="col-md-6 description-item-container">
			<p>
			  <strong>Name:</strong>
			  <%= @listing.name %>
			</p>

			<p>
			  <strong>Price:</strong>
			  <%= @listing.price %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @listing.description %>
			</p>
			<p>
				<%= link_to "Buy Now", new_listing_order_path(@listing), class: 'btn btn-primary'%>
			</p>

			 <% if current_user == @listing.user %>
			  <%= link_to 'Edit', edit_listing_path(@listing) %> |
			 <% end %>

			<%= link_to 'Back', listings_path %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="comments_title">
			  <%= @listing.comments.count %> Comments
			</h3>

			<div id="comments">
			  <%= render :partial => @listing.comments %>
			</div>
			<%= simple_form_for [@listing, Comment.new]  do |f| %>
			  <div class="field">
			    <%= f.text_area :body, class: "form-control input-login" %>
			  </div>
			  <br>
			  <div class="col-md-2 col-md-offset-4">
			  	<%= f.submit "Add Comment", class: "btn btn-log" %>
			  </div>
			<% end %>
		</div>
	</div>
	
</div>